@font-face {
    font-family: "AmisPro";
    src: url(../fonts/AmsiPro-Ultra.otf);
}
@font-face {
    font-family: "ArialBold";
    src: url(../fonts/ArialCEBoldItalic.ttf);
}

section.hero{
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.hero{
    background-image: url(../img/hero.png);
    background-size: cover;
}  
button.sesion{
    background-color: #0124D6;
    color: white;
    font-family: "AmisPro";
    border: 2px solid #58CDF8;
    border-radius: 3em;
    text-transform: uppercase;
    padding: .5em .7em;
    text-align: center;
    font-size: .9rem;
}
img.gamesa{
    width: 7.4em;
    margin-top: 1em;
    padding-left: .1em;
}
img.lleva{
    width: 21.5em;
    position: absolute;
    z-index: -1;
    top: 4em;
    right: 1em; 
    left: 1em;   
}
img.super{
    margin-top: 4.2em;
    width: 14em;
    padding-left: 1.1em;
    padding-right: 1.7em;
}
img.p-ganar{
    width: 19em;
}
.texto-borde {
    -webkit-text-stroke: .5px #084C95;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    font-family: "AmisPro";
  }

button.ticket{
    background-color: #ee030c;
    color: white;
    border: 3px solid #ff787c;
    border-radius: 3em;
    font-family: "AmisPro";
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .4em 1.8em;
    text-align: center;
    letter-spacing: .3px;
    display: block;
}
button.btn-mecanica{
    background-color: #0124D6;
    color: white;
    border: 3px solid #58CDF8;
    border-radius: 3em;
    font-family: "AmisPro";
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding: .4em 3.3em;
    letter-spacing: .3px;
    margin-top: 1.5em;
    display: block;
}
.tarjeta{
    color: white;
    font-family: "AmisPro";
    text-transform: uppercase;
    letter-spacing: .2px;
    margin-left: 1em;
    font-size: .97rem;
}
.flechadown{
    width: 3em;
    padding-bottom: 1em;
}

/* MECANICA */
section.mecanica{
    padding-left: 15px;
    padding-right: 15px;
}
.mecanica{
    background-image: url(../img/heromecanica.png);
    background-size: cover;
}
.title-mecanica{
    width: 19em;
}
.box-one{
    background-image: url(../img/boxone.png);
    background-position: center;
    background-size: 426px 294px;
    margin-top: 3em;
    background-repeat: no-repeat;
}
.compra{
    padding-top: 4em;
    color: white;
    font-family: "AmisPro";
    font-size: 1rem;
    padding-right: 1em;
    text-transform: uppercase;
    padding-bottom: 3em;
    letter-spacing: .5px;
    line-height: 1.4;
}
span.yellow{
    color: #F3E400;
    font-size: 1.75rem;
}
span.yellow-1{
    color: #F3E400;
    font-size: 1.75rem;
    line-height: 1;
}
.box-two{
    background-image: url(../img/boxtwo.png);
    background-position: center;
    background-size: 426px 309px;
    margin-top: 2em;
    background-repeat: no-repeat;
}
.registra-datos{
    padding-top: 4em;
    color: white;
    font-family: "AmisPro";
    font-size: 1.29rem;
    padding-right: 1em;
    text-transform: uppercase;
    padding-bottom: 3em;
    letter-spacing: .5px;
    line-height: 1.4;
}
span.yellow-2{
    color: #F3E400;
    font-size: 1.3rem;
    margin-right: 1em;
}
.box-three{
    background-image: url(../img/boxthree.png);
   background-position: center;
    background-size: 426px 486px;
    background-repeat: no-repeat;
    margin-top: 2em;
}
.participa{
    padding-top: 5em;
    color: white;
    font-family: "AmisPro";
    font-size: 1.2rem;
   padding-left: 2em;
    text-transform: uppercase;
    padding-bottom: 1em;
    letter-spacing: .5px;
    line-height: 1.4;
    text-align: center;
}
span.azul{
    color: #51CCFA;
    font-size: 1.7rem;
}
span.amarillo{
    color: #F3E400;
    
}
span.amarillo1{
    color: #F3E400;
    font-size: 1.7rem;
}
.owl-theme .owl-dots .owl-dot span{
    width: 21px;
    height: 21px;
    margin: 5px 7px;
    background:#0124D6 ;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #F3E432;
}

/* PREMIOS */
section.premios{
    padding-left: 15px;
    padding-right: 15px;
}
.premios{
    background-image: url(../img/heropremios.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.title-premios{
    width: 19em;
}
.items{
    margin-top: 4em;
}
.item{
    display: flex;
    justify-content: center;
}
.owl-carousel .owl-item img{
    width: 78%;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px;
}

/* RANKING */
section.ranking{
    padding-left: 15px;
    padding-right: 15px;
}
.ranking{
    background-image: url(../img/heroranking.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.title-ranking{
    width: 19em;
    margin-top: 4em;
}
.buttonranking{
    border-radius: 2em;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    padding: .3em 2.2em;
    font-family: "AmisPro";
    background-color: #eb020c;
    border: 2px solid white;
}
.buttonganador{
    border-radius: 2em;
    font-size: 1.1rem;
    color: white;
    text-transform: uppercase;
    padding: .3em 1.5em;
    font-family: "AmisPro";
    background-color: #0124d6;
    border: 2px solid #51ccfa;
}
.posicion{
    background-color: #0124D6;
    color: white;
    text-transform: uppercase;
    font-family: "AmisPro";
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid white;
    padding: .2em 1em;
    border-right-color: transparent;

}
.usuario{
    background-color: #0124D6;
    color: white;
    text-transform: uppercase;
    font-family: "AmisPro";
    border: 1px solid white;
    padding: .2em 1em;
    border-right-color: transparent;
    border-left-color: transparent;
}
.detalle{
    background-color: #0124D6;
    color: white;
    text-transform: uppercase;
    font-family: "AmisPro";
    border: 1px solid white;
    padding: .2em 1em;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left-color: transparent;
}
.posiciones{
    width: 22%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #96040B;
    border: transparent;
    color: white;
    text-align: center;
    outline: none;
    font-family: "AmisPro";
    padding-top: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    font-size: .9rem;
    height: 2.5em;
}
.usuarios{
    width: 50%;
    margin-right: .3em;
    margin-left: .3em;
    background-color: #FF787C;
    outline: none;
    font-size: .9rem;
    font-family: "AmisPro";
    border: transparent;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    height: 2.5em;
    
}
.puntos{
    width: 22%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #96040B;
    border: transparent;
    color: white;
    text-align: center;
    outline: none;
    font-family: "AmisPro";
    padding-top: .5em;
    padding-left: .5em;
    padding-bottom: .5em;
    font-size: .9rem;
    height: 2.5em;
}
#tableRanking thead th, #tableWinners thead th {
    padding-left: 0;
    padding-right: 0;
}
.pagination{
    border: none;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    font-family: "AmisPro";
    padding-left: 10px;

}
.carousel-control-next, .carousel-control-prev{
    opacity: inherit;
}
.carousel-control-prev-icon.prevs{
    height: 50%;
    width: 50%;
    background-image: url(../img/izquierda.png);
    margin-right: -2em;
}
.carousel-control-next-icon.nexts{
    height: 50%;
    width: 50%;
    background-image: url(../img/derecha.png);
    margin-left: -2em;
}
.p-ranking{
    color: white;
    font-family: "AmisPro";
    text-transform: uppercase;
    font-size: .96rem;
}
input.correo{
    background-color: transparent;
    border: 2px solid white;
    width: 54%;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-family: "AmisPro";
    outline: none;
    text-transform: uppercase;
    padding-left: .3em;
    padding-bottom: .3em;
    font-size: 1.1rem;
}
::placeholder{
    color: white;
    opacity: 1;
}
.correo-ing{
    background-color: #F3E400;
    border-radius: 100%;
    border: none;
    padding-top: .5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: .4em;
    margin-left: 1em;
}
.fa-angle-right{
    color: red;
    font-size: 1.5rem;
}
.leyenda{
    text-align: center;
    color: white;
    font-size: .7rem;
    font-family: "AmisPro";
    text-transform: uppercase;
}
.flechaup{
    width: 3em;
    padding-bottom: 1em;
}

/*FOOTER */
footer {
    background-color: #0124D6;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    
}
p.derechos {
    color: #FFFFFF;
    font-family: "ArialBold";
    font-weight: bold;
    font-size: 0.64rem;
    line-height: 17px;
}
a.a-movil{
    text-decoration: none;
}
a.come {
    color: #F3E432;
    font-family: "ArialBold";
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    outline: none;
}
li.movil {
    list-style: none;
    color: #FFFFFF;
    font-family: "ArialBold";
    font-size: 0.719rem;
}
.menu-footer-mobile {
    display: none;
}

/* MEDIA QUERIES */
@media(min-width: 768px){
    .contenedor{
        max-width: 79%;
        margin: 0 auto;
    }
}

@media(min-width: 992px) {
    .hero{
        background-image: url(../img/herodesktop.png);
        background-size: cover;
    }
    a img.flechadown{
        margin-left: auto !important;
    }

}
@media(min-width: 992px) and (max-width: 1199.98px){
    img.gamesa{
        width: 12em;
        margin-top: -2em;
        padding-left: .1em;
    }
    img.lleva{
        width: 31em;
        position: absolute;
        z-index: -1;
        top: 3.5em;
        right: 2em;
        left: 2em;
    }
    img.super {
        margin-top: 5.8em;
        width: 19em;
        padding-left: 1.1em;
        padding-right: 1.7em;
    }
    img.p-ganar {
        width: 26em;
    }
}
@media(min-width:1200px){
    img.gamesa {
        width: 17vw;
        margin-top: -4em;
        padding-left: .1em;
    }
    img.lleva{
        width: 49vw;
        top: 1.5em;
    }
    img.super {
        margin-top: 7.5em;
        width: 30vw;
        padding-left: 1.5em;
        padding-right: 2em;
    }
    img.p-ganar {
        width: 40vw;
    }
    button.sesion {
        color: #f3e432;
        padding: .7em 1.5em;
        font-size: 1.6vw;
        margin-right: 2em;
        margin-top: 2em !important;
        border: 4px solid #58CDF8;
        letter-spacing: 1px;
    }
    .tarjeta {
        font-size: 1.3vw;
        margin-top: 2em !important;
        line-height: 2em;
    }
     img.flechadown-desktop{
        width: 5vw;
        margin-right: 4em;
        margin-top: -14em;
    }
    /* MECANICA */
    .mecanica{
        background-image: url(../img/heromecanicadeskt.png);
        background-size: 101% 101%;
    }
    .title-mecanica {
        width: 29vw;
        margin-top: 6em !important;
        padding-right: 1em;
    }
    img.mecanica-one{
        width: 36vw;
        margin-top: 1em;
        margin-left: -3em;
    }
    
}
@media(min-width:1366px){
    img.lleva{
        top: 2em;
        right: 1.2em;
    }
    img.super {
        margin-top: 8.5em;
        padding-right: 3em;
    }
    button.ticket {
        font-size: 1.3rem;
        padding: .7em 1.8em;
        margin-right: 3em !important;
    }
    button.btn-mecanica {
        font-size: 1.3rem;
        padding: .7em 3.3em;
        letter-spacing: .3px;
        margin-top: 0em;
    }
}
@media(min-width:1600px){
    img.lleva{
        top: 1em;
    }
    img.super {
        margin-top: 9.5em;
        padding-right: 3.5em;
        padding-left: 2.5em;
    }img.gamesa {
        margin-top: -6em;
    }
    img.mecanica-one{
        margin-left: -5em;
        width: 40vw;
        padding-top: 6em;
    }
    p.compra{
        position: absolute;
        top: 5em;
        font-size: 10em;
        bottom: 5em;
        left: 5em;
        text-align: center;
        font-size: 2vw;
        left: 2.5em;
        right: 2.5em;
    }
    span.yellow {
        color: #F3E400;
        font-size: 3.3vw;
    }
    span.yellow-1 {
        color: #F3E400;
        font-size: 3.3vw;
        line-height: 1;
    }
   
}
@media(min-width:1800px){
    img.lleva{
        top: 1.3em;
    }
    img.super{
        margin-top: 10.5em;
    }
    button.ticket {
        font-size: 1.9rem;
        padding: .7em 1.5em;
        margin-right: 3em !important;
    }
    button.btn-mecanica {
        font-size: 1.9rem;
        padding: .7em 2.5em;
        margin-top: 0em;
    }
    img.gamesa {
        margin-top: -6.6em;
    }
}
@media(min-width:1900px){
    img.lleva{
        top: 1.8em;
    }
    img.super{
        margin-top: 11.5em;
    }
}

